:root {
  --color-fondo: white;
  --color-texto: #333333;
  --color-principal: #004D43;
  --color-header: #0F433A;
  --color-botones: #EBAA20;
  --color-rosa: #D9017A;
  --color-gris: #F6F6F6;
  --font-titulos: "Libre Bodoni", serif;
  --font-texto: "Work Sans", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-fondo: #333333;
    --color-texto: white;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

li {
  list-style-type: none;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-weight: 400;
  font-family: "Libre Bodoni", serif;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-texto);
}

@keyframes icons {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
@keyframes move {
  0% {
    transform: translateY(-100%);
    opacity: 1;
  }
  60% {
    opacity: 1;
    transform: translateY(100%);
  }
  90% {
    opacity: 0;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}
@keyframes rojo {
  0% {
    transform: translateY(-30%);
  }
  20% {
    transform: translateY(10%);
  }
  40% {
    transform: translateX(-20%);
  }
  60% {
    transform: translateX(30%);
  }
  80% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(10%);
  }
}
@keyframes amarillo {
  0% {
    transform: translateX(-10%);
  }
  20% {
    transform: translateX(30%);
  }
  40% {
    transform: translateY(10%);
  }
  60% {
    transform: translateY(-20%);
  }
  80% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(-10%);
  }
}
@keyframes verde {
  0% {
    transform: translateY(30%);
  }
  20% {
    transform: translateY(-10%);
  }
  40% {
    transform: translateX(-30%);
  }
  60% {
    transform: translateX(10%);
  }
  80% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(-10%);
  }
}
@keyframes morado {
  0% {
    transform: translateX(10%);
  }
  20% {
    transform: translateX(-30%);
  }
  40% {
    transform: translateY(10%);
  }
  60% {
    transform: translateY(-30%);
  }
  80% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(10%);
  }
}
.header {
  width: 100%;
  padding: 1rem;
  z-index: 5;
  position: absolute;
  top: 0;
}
.header__wrapper {
  width: 70%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
  color: #282828;
}
.header__h1 {
  font-size: 1.6em;
  font-family: var(--font-titulos);
  font-size: 2em;
  font-weight: 700;
}
.header__ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.header__li {
  margin: 0 0 0 5rem;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  border: 1px solid #cbcbcb;
  transition: all 0.4s ease;
}
.header__li:hover {
  color: white;
  border-color: transparent;
  background: -webkit-linear-gradient(-10deg, #FF7A00, #FF07D7);
}

.main {
  width: 100%;
  position: relative;
  background-image: url(../assets/ruido.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}
.main__fondo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}
.main__fila {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.main__blob {
  max-width: 30%;
}
.main__blob.rojo {
  fill: #FC9696;
  animation: rojo 80s ease infinite 0s both;
}
.main__blob.amarillo {
  fill: #FAFC96;
  animation: amarillo 80s ease infinite 0s both;
}
.main__blob.verde {
  fill: #96FCB3;
  animation: verde 80s ease infinite 0s both;
}
.main__blob.morado {
  fill: #B398FF;
  animation: morado 80s ease infinite 0s both;
}
.main__principal {
  width: 70%;
  min-height: 100vh;
  margin: auto;
  padding-top: 20%;
  z-index: 3;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-items: center;
  align-items: center;
}

.index .main__vertical {
  position: fixed;
  right: 2%;
  top: 50%;
  z-index: 2;
}
.index .main__iconos {
  margin-bottom: 2rem;
}
.index .main__iconos:hover {
  animation: icons 0.5s ease 1 forwards;
}
.index .main__svg {
  max-width: 2rem;
}
.index .main__raton {
  width: 2rem;
  height: 4rem;
  border-radius: 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border: 1px solid #282828;
  position: absolute;
  bottom: 20%;
}
.index .main__circulo {
  max-width: 0.7rem;
  height: 1rem;
  margin: auto;
  animation: move 1.5s ease infinite 0s both;
  transform-origin: top;
  fill: #282828;
}
.index .main__trabajo {
  width: 70%;
  margin: auto;
  z-index: 3;
  position: relative;
}
.index .main__h3 {
  color: #282828;
  font-family: var(--font-titulos);
  font-size: 5em;
  margin-bottom: 6rem;
}
.index .main__categorias {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}
.index .main__li {
  margin: 0 0 0 5rem;
  transform-origin: bottom;
}
.index .main__li:hover .main__a {
  transform: translateY(-30%);
}
.index .main__li.rojo:hover .main__a {
  background-color: #FC9696;
  border-color: transparent;
}
.index .main__li.verde:hover .main__a {
  background-color: #96FCB3;
  border-color: transparent;
}
.index .main__li.morado:hover .main__a {
  background-color: #B398FF;
  border-color: transparent;
}
.index .main__li.amarillo:hover .main__a {
  background-color: #FAFC96;
  border-color: transparent;
}
.index .main__a {
  transform: translateY(0%);
  transition: all 0.5s ease;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  border: 1px solid #cbcbcb;
}
.index .wrapper {
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  color: #282828;
  font-family: var(--font-titulos);
  font-weight: 700;
  font-size: 5em;
}
.index #fixed {
  margin-right: 1rem;
}
.index #content {
  color: lightcoral;
  background: -webkit-linear-gradient(-10deg, #FF7A00, #FF07D7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.index .hidden {
  display: none;
}

.contacto .main__h2 {
  color: #282828;
  font-family: var(--font-titulos);
  font-weight: 700;
  font-size: 5em;
  margin-bottom: 4rem;
  text-align: center;
}
.contacto .main__texto {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.contacto .main__p {
  margin-bottom: 4rem;
  font-size: 1.2em;
}
.contacto .main__rrss {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}
.contacto .main__a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 2rem 7rem;
}
.contacto .main__a:hover {
  animation: icons 0.5s ease 1 forwards;
}
.contacto .main__svg {
  max-width: 2rem;
}
.contacto .main__nombre {
  margin-left: 1rem;
}
.contacto .main span {
  background: -webkit-linear-gradient(-10deg, #FF7A00, #FF07D7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.sobre-mi .main__vertical {
  position: fixed;
  right: 2%;
  top: 50%;
  z-index: 2;
}
.sobre-mi .main__iconos {
  margin-bottom: 2rem;
}
.sobre-mi .main__iconos:hover {
  animation: icons 0.5s ease 1 forwards;
}
.sobre-mi .main__svg {
  max-width: 2rem;
}
.sobre-mi .main__h2 {
  color: #282828;
  font-family: var(--font-titulos);
  font-weight: 700;
  font-size: 5em;
  margin-bottom: 4rem;
  text-align: center;
}
.sobre-mi .main__texto {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
  margin: auto;
}
.sobre-mi .main__columna {
  width: 45%;
}
.sobre-mi .main__columna.izquierda {
  margin-right: 1rem;
}
.sobre-mi .main__columna.derecha {
  margin-left: 1rem;
}
.sobre-mi .main__parrafo {
  margin-bottom: 2rem;
  line-height: 25px;
}
.sobre-mi .main span {
  background: -webkit-linear-gradient(-10deg, #FF7A00, #FF07D7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}