.header{
    width: 100%;
    // background-color: lightcoral;
    padding: 1rem;
    z-index: 5;
    position: absolute;
    top: 0;
    
    &__wrapper{
        width: 70%;
        // background-color: lightblue;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        margin: 1rem auto;
        color: #282828;
    }

    &__h1{
        // background-color: lightpink;
        font-size: 1.6em;
        font-family: var(--font-titulos);
        font-size: 2em;
        font-weight: 700; 
    }

    &__ul{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    &__li{
        // background-color: lightyellow;
        margin: 0 0 0 5rem;
        border-radius: 50px;
        padding: 0.5rem 1rem;
        border: 1px solid rgb(203, 203, 203);
        transition: all .4s ease;
    }

    &__li:hover{
        color: white;
        border-color:transparent;
        background: -webkit-linear-gradient(-10deg, #FF7A00, #FF07D7);
    }
}

.main{
    width: 100%;
    // background-color: lightyellow;
    position: relative;
    background-image: url(../assets/ruido.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;

    &__fondo{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 1;
    }
    
    &__fila{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
    
    &__blob{
        max-width: 30%;
        // background-color: lightcyan;
    }

    &__blob.rojo{
        // margin-left: 2rem;
        fill: #FC9696;
        animation: rojo 80s ease infinite 0s both;
    }

    &__blob.amarillo{
        // margin-left: 2rem;
        fill: #FAFC96;
        animation: amarillo 80s ease infinite 0s both;
    }

    &__blob.verde{
        // margin-right: 2rem;
        fill: #96FCB3;
        animation: verde 80s ease infinite 0s both;
    }

    &__blob.morado{
        // margin: 2rem 2rem 0 0;
        fill: #B398FF;
        animation: morado 80s ease infinite 0s both;
    }

    &__principal{
        width: 70%;
        min-height: 100vh;
        // background-color: lightcyan;
        margin: auto;
        padding-top: 20%;
        z-index: 3;
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-items: center;
        align-items: center;
    }
}