.header{
    width: 100%;
    // background-color: white;
    padding: 1rem;
    z-index: 5;
    position: absolute;
    top: 0;
    
    &__wrapper{
        width: 70%;
        // background-color: lightblue;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        margin: 1rem auto;
        color: var(--color-texto);
        border-bottom: 0.5px solid var(--color-texto);
        padding-bottom: 1rem;
        @media screen and (max-width:1300px){
            width: 80%;
        }
        @media screen and (max-width:1155px){
            width: 85%;
        }
        @media screen and (max-width:990px){
            width: 90%;
        }
        @media screen and (max-width:890px){
            width: 95%;
        }
    }

    &__h1{
        // background-color: lightpink;
        font-size: 1.6em;
        font-family: var(--font-titulos);
        font-size: 2em;
        font-weight: 700; 
        @media screen and (max-width:990px){
            font-size: 1.8em;
        }
        @media screen and (max-width:890px){
            font-size: 1.6em;
        }
        @media screen and (max-width:430px){
            font-size: 1.5em;
        }
        @media screen and (max-width:400px){
            font-size: 1.5em;
        }
    }

    &__ul{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width:430px){
            display: none;
        }
        @media screen and (max-width:400px){
            display: none;
        }
    }

    &__li{
        // background-color: lightyellow;
        margin: 0 0 0 5rem;
        padding: 0.5rem 1rem;
        font-weight: 400;
        &::after{
            content: '';
            display: flex;
            width: 100%;
            height: 1.5px;
            background: -webkit-linear-gradient(-10deg, #FF7A00, #FF07D7);
            margin-top: 0.2rem;
            border-radius: 50px;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.5s ease-in-out;
        }
        &:hover::after{
            transform: scaleX(1);
        }
        @media screen and (max-width:890px){
            font-size: 0.9em;
        }
    }
    
}

.main{
    width: 100%;
    background-color: var(--color-fondo);
    position: relative;
    overflow: hidden;

    &__principal{
        width: 70%;
        min-height: 100vh;
        // background-color: lightcyan;
        margin: auto;
        padding-top: 20%;
        z-index: 3;
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-items: center;
        align-items: center;
        @media screen and (max-width:430px){
            min-height: 90vh;
            width: 95%;
            padding-top: 50%;
        }
    }
}

.header.activado{
    // background-color: white;
    position: fixed;
}