.index{
    .main{
        &__vertical{
            // background-color: lightpink;
            position: fixed;
            right: 2%;
            top: 50%;
            z-index: 2;
            @media screen and (max-width:430px){
                right: 5%;
            }
        }
    
        &__iconos{
            margin-bottom: 2rem;
            animation: fadeOut 0.4s ease 1 both;
            @media screen and (max-width:430px){
                margin-bottom: 1.3rem;
            }
        }
    
        &__iconos:hover{
            animation: fadeIn 0.4s ease 1 both;
        }
    
        &__svg{
            max-width: 2rem;
            @media screen and (max-width:430px){
                max-width: 1.5rem;
            }
        }
    
        &__raton{
            // background-color: lightblue;
            width: 2rem;
            height: 4rem;
            border-radius: 50px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            border: 1px solid #282828;
            position: absolute;
            bottom: 20%;
            @media screen and (max-width:430px){
                bottom: 5%;
            }
        }
    
        &__circulo{
            max-width: 0.7rem;
            height: 1rem;
            margin: auto;
            animation: move 1.5s ease infinite 0s both;
            transform-origin: top;
            fill: #282828;
        }
    
        &__trabajo{
            width: 70%;
            margin: auto;
            z-index: 3;
            position: relative;
            @media screen and (max-width:430px){
                width: 95%;
            }
        }
    
        &__h3{
            color: #282828;
            font-family: var(--font-titulos);
            // font-weight: 700;
            font-size: 5em;
            margin-bottom: 6rem;
            @media screen and (max-width:430px){
                font-size: 3em;
                margin-bottom: 3rem;
                text-align: center;
            }
        }
    
        &__categorias{
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            @media screen and (max-width:430px){
                flex-flow: row wrap;
                width: 90%;
            }
        }
    
        &__li{
            margin: 0 0 0 5rem;
            // transition: all .2s ease;
            transform-origin: bottom;
            border-radius: 50px;
            @media screen and (max-width:430px){
                font-size: 1em;
                margin: 0 0 1rem 1rem;
            }
        }
       
        &__li:hover .main__a:not( .activado ){
            transform: scale(1.1);
        }
    
        &__li.rojo:hover .main__a{
            background-color: #FC9696;
            border-color: transparent;
        }

        &__a.rojo.activado{
            background-color: #FC9696;
            border-color: transparent;
        }
    
        &__li.verde:hover .main__a{
            background-color: #96FCB3;
            border-color: transparent;
        }

        &__a.verde.activado{
            background-color: #96FCB3;
            border-color: transparent;
        }
    
        &__li.morado:hover .main__a{
            background-color: #B398FF;
            border-color: transparent;
        }

        &__a.morado.activado{
            background-color: #B398FF;
            border-color: transparent;
        }
    
        &__li.amarillo:hover .main__a{
            background-color: #FAFC96;
            border-color: transparent;
        }

        &__a.amarillo.activado{
            background-color: #FAFC96;
            border-color: transparent;
        }

        &__a{
            transform: translateY(0%);
            transition: all .5s ease;
            border-radius: 50px;
            padding: 0.5rem 1rem;
            border: 1px solid rgb(203, 203, 203);
            cursor: pointer;
        }

        &__grid{
            width: 70%;
            // min-height: 70vh;
            margin: 3rem auto;
            z-index: 5;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            @media screen and (max-width:430px){
                width: 100%;
                flex-flow: column wrap;
                margin: 1rem auto;
            }
        }

        &__img{
            width: calc((100% / 2) - 2rem);
            margin: 1rem;
            min-height: 50vh;
            border-radius: 30px;
            @media screen and (max-width:430px){
                width: 100%;
                margin: 1rem 0;
                border-radius: 0px;
            }
        }

        &__img.activado{
            display: none;
        }
        
    
    }

    
    .wrapper{
        width: 100%;
        text-align: center;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        color: #282828;
        font-family: var(--font-titulos);
        font-weight: 700;
        font-size: 5em;
        @media screen and (max-width:1600px){
            font-size: 4em;
        }
        @media screen and (max-width:1380px){
            font-size: 3.8em;
        }
        @media screen and (max-width:1300px){
            font-size: 3.6em;
        }
        @media screen and (max-width:1220px){
            font-size: 3.4em;
        }
        @media screen and (max-width:1155px){
            font-size: 3.2em;
        }
        @media screen and (max-width:1075px){
            font-size: 3em;
        }
        @media screen and (max-width:990px){
            font-size: 2.8em;
        }
        @media screen and (max-width:940px){
            font-size: 2.6em;
        }
        @media screen and (max-width:890px){
            font-size: 2.5em;
        }
        @media screen and (max-width:840px){
            font-size: 2.4em;
        }
        @media screen and (max-width:430px){
            font-size: 2em;
            flex-flow: column wrap;
        }
    }
    span{
        // font-size: 4em;
        // background-color: black;
    }
    #fixed{
        margin-right: 1rem;
    }
    #content{
        color: lightcoral;
        background: -webkit-linear-gradient(-10deg, #FF7A00, #FF07D7);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .hidden{
        display: none;
    }
    
    
}