:root{
    --color-fondo: #282828;
    --color-texto: rgb(230, 230, 230);
    --color-principal: #004D43;
    --color-header: #0F433A;
    --color-botones: #EBAA20;
    --color-rosa: #D9017A;
    --color-gris: #F6F6F6;
    --font-titulos: 'Libre Bodoni', serif;
    --font-texto: 'Work Sans', sans-serif;
}

@media (prefers-color-scheme: dark){
    :root{
        --color-fondo: #333333;
        --color-texto: white;
    }
}


*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

li{
    list-style-type: none;
}

a{
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

p a{
    display: inline;
}

img, picture, video, iframe, figure{
    max-width: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em{
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
}

form, input, textarea, select, button, label{
    font-family: inherit;
    font-size: inherit;
    hyphens: auto;
    background-color: transparent;
    color: inherit;
    display: block;
}

blockquote:before, blockquote:after, q:before, q:after{
    content: "";
    content: none;
}
  
::selection{
    background-color: var(--negro);
    color: var(--blanco);
}

table, tr, td{
    border-collapse: collapse;
    border-spacing: 0;
}

svg{
    width: 100%;
    display: block;
    fill: currentColor;
}

html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    font-size: 100%;
    font-weight: 400;
    font-family: 'Libre Bodoni', serif;
    font-family: Arial, Helvetica, sans-serif;
}