.sobre-mi{
    .main{
        &__principal{
            padding-top: 10%;
        }
        
        &__vertical{
            // background-color: lightpink;
            position: fixed;
            right: 2%;
            top: 50%;
            z-index: 2;
        }
    
        &__iconos{
            margin-bottom: 2rem;
            color: var(--color-texto);
            animation: fadeOut 0.4s ease 1 both;
            @media screen and (max-width:400px){
                margin-bottom: 1.3rem;
            }
        }
    
        &__iconos:hover{
            animation: fadeIn 0.4s ease 1 both;
        }
    
        &__svg{
            max-width: 1.8rem;
            @media screen and (max-width:400px){
                max-width: 1.5rem;
            }
        }
    
        &__h2{
            color: var(--color-texto);
            font-family: var(--font-titulos);
            font-weight: 700;
            font-size: 5em;
            margin-bottom: 4rem;
            text-align: center;
        }
    
        &__texto{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items:flex-start;
            width: 70%;
            margin: auto;
            color: var(--color-texto);
        }
    
        &__columna{
            width: 45%;
        }
    
        &__columna.izquierda{
            margin-right: 1rem;
        }
    
        &__columna.derecha{
            margin-left: 1rem;
        }
    
        &__parrafo{
            margin-bottom: 2rem;
            line-height: 25px;
        }

        &__parrafo.ultimo{
            margin-bottom: 1rem;
        }

        &__destacado{
            font-weight: 700;
            color: -webkit-linear-gradient(-10deg, #FF7A00, #FF07D7);
        }
    
        span.email{
        background: -webkit-linear-gradient(-10deg, #FF7A00, #FF07D7);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 600;
        }

        &__img{
            margin-bottom: 2rem;
            max-width: 15rem;
        }
    }
    
}
